.btn {
    font-style: normal;
    text-transform: uppercase;
    cursor: pointer;
    transition: color .5s;

    &:not(button):not(span):not(i) {
        @extend %display-inline-block;
    }

    &.clear-btn {
        background-color: transparent;
        border-width: 0;
    }
}

button {
    &.btn {
        @extend %font-gotham;
    }
}
