/* scss-lint:disable ColorKeyword */
/* scss-lint:disable ColorVariable */
%clear-btn {
    background-color: transparent;
    border-width: 0;
}

.btn {
    @extend %cursor-pointer;
    font-style: normal;
    text-transform: uppercase;
    transition: color .5s;

    &i,
    &span {
        @extend %display-inline-block;
    }

    &button {
        @extend %font-family-gotham;
    }

    &.btn {
        &--clear {
            @extend %clear-btn;
        }

        &--style-1 {
            @extend %clear-btn;
            outline: 0;
            font-size: .75em;
            color: darkgray;

            &.btn--selected {
                color: $orange;

                &:hover {
                    color: $orange;
                }
            }

            &:hover {
                color: #666;
            }
        }
    }
}
