/* scss-lint:disable Compass::PropertyWithMixin */
/* scss-lint:disable ColorVariable */

%display-none {
    display: none;
}

%display-flex {
    display: flex;
}

%display-block {
    display: block;
}

%display-inline-block {
    display: inline-block;
}

%display-inline {
    display: inline-block;
}

%float-left {
    float: left;
}

%float-right {
    float: right;
}

%position-relative {
    position: relative;
}

%position-absolute {
    position: absolute;
}

%position-fixed {
    position: fixed;
}

%position-static {
    position: static;
}

%auto-margin {
    margin: auto;
}

%auto-horizontal-margin {
    margin-left: auto;
    margin-right: auto;
}

%no-margin {
    margin: 0;
}

%no-padding {
    padding: 0;
}

%full-width {
    width: 100%;
}

%full-height {
    height: 100%;
}

%font-family-gotham {
    font-family: 'Gotham SSm A', 'Gotham SSm B', Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
}

%half-border-radius {
    border-radius: 50%;
}

%cursor-pointer {
    cursor: pointer;
}

%user-select-none {
    /* scss-lint:disable VendorPrefix */
    -webkit-user-select: none;
    user-select: none;
    /* scss-lint:disable VendorPrefix */
}

%clearfix {
    &:after,
    &:before {
        display: block;
        content: '\0020';
        height: 0;
        overflow: hidden;
    }

    &:after {
        clear: both;
    }
}

%content-empty {
    content: '';
}

/* custom */

%thumbnail {
    font-size: initial;
    display: table-cell;
    vertical-align: middle;
    font-size: .75rem;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 0 0 4px #000;
    padding: 10px 5px;
}
