/* scss-lint:disable Compass::PropertyWithMixin */
/* scss-lint:disable ColorVariable */
/* scss-lint:disable ColorKeyword */
@import 'functions';
@import 'mixins';
@import 'settings';
@import 'vars';
@import 'placeholders';
@import 'reset';
@import 'fonts';
@import 'components';
@import 'modifiers';
@import 'loader';

html {
    @extend %full-height;
    font-size: 120%; // 100% = cross-browser 16px
    line-height: 1.5em; // vertical-rhythm
}

body {
    @extend %font-family-gotham;
    @extend %no-margin;
    @extend %no-padding;
    height: inherit;
    overflow: hidden;

    &.body {
        &--fix-nav {
            nav {
                @extend %position-fixed;
                @extend %full-width;
                left: 0;
                top: 0;
                padding: 10px;
                background-color: whitesmoke;
                border-bottom: 2px solid lightgray;
                opacity: .978;
            }
        }
    }

    &.show {
        &-loader,
        &-player-loader {
            overflow: hidden;
        }

        &-loader {
            .loader--global {
                @extend %display-block;
            }

            .overlay {
                @extend %display-block;
            }
        }

        &-player-loader {
            iframe {
                @extend %display-none;
            }

            .player {
                @extend %position-relative;
                visibility: visible !important;
            }

            .loader--player {
                @extend %display-block;
            }
        }

        &-pagination {
            main {
                padding-bottom: calc(#{$pagination-outer-height} + 1rem);
            }

            .pagination {
                @extend %display-block;
            }
        }

        &-grid-view {
            ul {
                @extend %display-flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 0;
                margin-left: -5px;
                margin-right: -5px;

                // override
                &:not(:empty):not(.no-results) {
                    li {
                        text-decoration: none;

                        &:hover {
                            padding-left: 0;
                            padding-right: 0;
                            background-color: none;
                        }
                    }
                }
            }

            li {
                @extend %user-select-none;
                width: $thumbnail-size;
                height: $thumbnail-size;
                font-size: 0;
                margin-top: 10px;
                margin-left: 5px;
                margin-right: 5px;

                &:hover {
                    .thumbnail {
                        background-blend-mode: screen;
                    }
                }

                &.no-artwork {
                    .thumbnail {
                        @extend %thumbnail;
                    }

                    &:hover .thumbnail {
                        background-color: $orange;
                    }
                }

                .thumbnail {
                    @extend %display-block;
                }
            }
        }
    }
}

main {
    @extend %auto-horizontal-margin;
    @extend %full-height;
    width: $app-width;
    padding: 0 10px 10px;
    box-shadow: 0 0 15px gray;
    background-blend-mode: overlay;
    background-size: cover;
    background-color: whitesmoke;
    overflow-y: auto;
}

section + section {
    padding-top: 10px;
}

nav {
    @extend %clearfix;
    transition: all .2s;
    padding-top: 10px;
}

[class*='#{prefix-space(toggle-)}'],
[class^=toggle-] {
    @extend %float-left;
    margin-top: 10px;

    &:not(:first-of-type) {
        margin-left: 10px;
    }
}

.player {
    margin-top: 10px;
    height: 166px;
}

.overlay {
    @extend %display-none;
    @extend %position-fixed;
    @extend %full-width;
    @include position-args(top 0 right 0 bottom 0 left 0);
    background-color: whitesmoke;
    z-index: 9;
}

.loader {
    &--global,
    &--player {
        @extend .loader; // roll our own
        @extend %display-none;
        @extend %auto-margin;
    }

    &--global {
        @extend %position-fixed;
        width: $global-loader-size;
        height: $global-loader-size;
        border-width: $global-loader-size / 9.09;
        $calc-value: unquote("50% - #{$global-loader-size / 2}");
        top: calc(#{$calc-value});
        left: calc(#{$calc-value});
        z-index: 99;
    }

    &--player {
        @extend %position-absolute;
        width: $player-loader-size;
        height: $player-loader-size;
        border-width: $player-loader-size / 9.09;
        $calc-value: unquote("50% - #{$player-loader-size / 2}");
        top: calc(#{$calc-value});
        left: calc(#{$calc-value});
    }
}

iframe {
    @extend %full-width;
    box-shadow: 0 0 2px #ccc;
    border-radius: 4px;
}

input {
    @extend %font-family-gotham;

    &[type = text] {
        font-size: 1rem;
        width: 100%;
        padding: 10px;
        border: 1px solid $orange;
        border-style: groove;
        border-radius: 4px;
        box-shadow: 0 0 4px darkgray;
    }
}

::-webkit-input-placeholder {
    @extend %font-family-gotham;
    text-transform: capitalize;
}

ul:not(:empty) {
    margin-top: 10px;
    list-style-type: none;

    &:not(.no-results) {
        li {
            @extend %cursor-pointer;
            text-decoration: underline;

            &:hover {
                color: #fff;
                background-color: slategrey;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
}

.no-results {
    li {
        text-align: center;
        text-transform: uppercase;
    }
}

li {
    &:not(:first-child) {
        margin-top: 10px;
    }

    .thumbnail {
        display: none;
        text-decoration: none;
        background-color: lightslategrey;
        // background-color: darkslateblue;
        color: #fff;
        background-size: cover;
        height: inherit;
        width: inherit;

        &:before {
            @extend %content-empty;
            display: block;
        }
    }
}

.truncated {
    text-decoration: inherit;
}

.selected {
    color: $orange;

    &.no-artwork .thumbnail {
        background-color: $orange;
        box-shadow: inset 0 0 30px #fff;
    }

    .thumbnail {
        background-blend-mode: screen;
    }
}

.visited {
    color: darkslateblue;

    &.no-artwork .thumbnail {
        background-color: plum;
    }
}

.pagination {
    @extend %full-width;
    @extend %display-none;
    @extend %position-absolute;
    line-height: $pagination-height;
    border-top: $pagination-border-top-width solid lightgray;
    bottom: 0;
    background-color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    left: 0;
    opacity: .968;

    i {
        @extend %cursor-pointer;
        font-style: normal;
        font-size: 1.5rem;
        color: darkgray;
        text-transform: uppercase;
        transition: color .5s;

        &:hover {
            color: #666;
        }
    }
}

.prev {
    @extend %float-left;
}

.next {
    @extend %float-right;
}
