/* scss-lint:disable Compass::PropertyWithMixin */
/* scss-lint:disable ColorVariable */
/* scss-lint:disable ColorKeyword */
@import 'functions';
@import 'settings';
@import 'vars';
@import 'placeholders';
@import 'reset';
@import 'fonts';
@import 'components';
@import 'modifiers';
@import 'loader';

html {
    @extend %full-height;
    font-size: 120%; // 100% = cross-browser 16px
    line-height: 1.5em; // vertical-rhythm
}

body {
    @extend %font-family-gotham;
    @extend %no-margin;
    @extend %no-padding;
    height: inherit;
    overflow: hidden;

    &.body {
        &--fix-nav {
            nav {
                @extend %position-fixed;
                @extend %full-width;
                left: 0;
                top: 0;
                padding: 10px;
                background-color: whitesmoke;
                border-bottom: 2px solid lightgray;
                opacity: .978;
            }
        }
    }

    &.show {
        &-loader,
        &-player-loader {
            overflow: hidden;
        }

        &-loader {
            .global-loader {
                @extend %display-block;
            }

            .overlay {
                @extend %display-block;
            }
        }

        &-player-loader {
            iframe {
                @extend %display-none;
            }

            .player {
                @extend %position-relative;
                visibility: visible !important;
            }

            .player-loader {
                @extend %display-block;
            }
        }

        &-pagination {
            .pagination {
                @extend %display-block;
            }
        }

        &-grid-view {
            ul {
                &:not(:empty) {
                    @extend %display-flex;
                    // overflow: hidden;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-top: 0;
                }

                // &:after {
                //     content: '';
                //     flex: auto;
                // }
            }

            li {
                flex-basis: auto;
                width: $thumbnail-size;
                height: $thumbnail-size;
                font-size: 0;
                text-decoration: none;
                margin-top: 10px;
                user-select: none;
                // margin-right: 10px;

                // &:not(:first-child) {
                //     padding-top: 0;
                // }

                // &:nth-child(6n+0) {
                //     margin-right: 0;
                // }
                //
                // &:nth-child(n+7) {
                //     margin-top: 10px;
                // }
                &:not(:first-child) {
                    padding-top: 0;
                }

                &:hover {
                    .thumbnail {
                        background-blend-mode: screen;
                    }
                }

                &.no-artwork {
                    .thumbnail {
                        font-size: initial;
                        display: table-cell;
                        vertical-align: middle;
                        font-size: .75rem;
                        text-align: center;
                        text-transform: capitalize;
                        text-shadow: 0 0 4px #000;
                        // border: 1px solid lightgray;
                    }

                    &:hover .thumbnail {
                        background-color: $orange;
                        /*    color: #000;*/
                    }
                }

                .thumbnail {
                    @extend %display-block;
                }
            }
        }
    }
}

main {
    @extend %auto-horizontal-margin;
    width: $app-width;
    height: calc(100% - #{$pagination-outer-height});
    padding: 0 10px 10px;
    box-shadow: 0 0 15px gray;
    background-blend-mode: overlay;
    background-size: cover;
    background-color: whitesmoke;
    overflow-y: auto;
}

section + section {
    padding-top: 10px;
}

section.with-pagination .pagination {
    @extend %display-block;
}

nav {
    @extend %clearfix;
    transition: all .2s;
    padding-top: 10px;
}

[class*='#{prefix-entity-space(toggle-)}'],
[class^=toggle-] {
    @extend %float-left;
    margin-top: 10px;

    &:not(:first-of-type) {
        margin-left: 10px;
    }
}

// .toggle-grid-view {
//     margin-top: 10px;
// }

.player {
    margin-top: 10px;
    height: 166px;
}

.overlay {
    @extend %display-none;
    @extend %position-absolute;
    @extend %full-width;
    min-height: inherit;
    background-color: whitesmoke;
    z-index: 9;
    top: 0;
}

/* roll our own */

.loader {
    &--global,
    &--player {
        @extend .loader;
        @extend %display-none;
        @extend %position-absolute;
        @extend %auto-margin;
        top: calc(50% - 5em);
        left: calc(50% - 5em);
    }

    &--global {
        z-index: 99;
    }
}

iframe {
    @extend %full-width;
    box-shadow: 0 0 2px #ccc;
    border-radius: 4px;
}

input {
    @extend %font-family-gotham;

    &[type = text] {
        font-size: 1rem;
        width: 100%;
        padding: 10px;
        border: 1px solid $orange;
        border-style: groove;
        border-radius: 4px;
        box-shadow: 0 0 4px darkgray;
    }
}

::-webkit-input-placeholder {
    @extend %font-family-gotham;
    text-transform: capitalize;
}

ul:not(:empty) {
    margin-top: 10px;
    list-style-type: none;
}

li {
    @extend %cursor-pointer;
    text-decoration: underline;

    &:hover {
        color: $orange;
    }

    &:not(:first-child) {
        padding-top: 10px;
    }

    .thumbnail {
        display: none;
        text-decoration: none;
        background-color: lightslategrey;
        // background-color: darkslateblue;
        color: #fff;
        background-size: cover;
        height: inherit;
        width: inherit;
    }
}

.truncated {
    text-decoration: inherit;
}

.selected {
    color: $orange;

    &.no-artwork .thumbnail {
        background-color: $orange;
        box-shadow: inset 0 0 30px #fff;
    }

    .thumbnail {
        background-blend-mode: screen;
    }
}

.visited {
    color: darkgray;

    &.no-artwork .thumbnail {
        background-color: plum;
    }
}

.pagination {
    @extend %full-width;
    @extend %display-none;
    @extend %position-absolute;
    line-height: $pagination-height;
    border-top: $pagination-border-top-width solid lightgray;
    bottom: 0;
    background-color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    left: 0;

    i {
        @extend %cursor-pointer;
        font-style: normal;
        font-size: 1.5rem;
        color: darkgray;
        text-transform: uppercase;
        transition: color .5s;

        &:hover {
            color: #666;
        }
    }
}

.prev {
    @extend %float-left;
}

.next {
    @extend %float-right;
}
