.clearfix:after,
.clearfix:before {
    display: block;
    content: '\0020';
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    box-sizing: border-box;
    /* vertical rhythm */
    line-height: 1.5em;
}

html *:not(head),
html *:after,
html *:before {
    box-sizing: inherit;
}

body {
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    min-height: 100vh;
    background-color: whitesmoke;
}

body.show-loader .global-loader {
    display: block;
}

body.show-loader .overlay {
    display: block;
}

body.show-loader,
body.show-player-loader {
    overflow: hidden;
}

body.show-player-loader iframe {
    display: none;
}

body.show-player-loader .player {
    position: relative;
    visibility: visible !important;
}

body.show-player-loader .player-loader {
    display: block;
}

body.show-pagination .pagination {
    display: block;
}

body.show-grid-view ul:not(:empty):not(.no-results) {
    padding-left: 0;
    list-style-type: none;
}

body.show-grid-view li {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    font-size: 0;
}

body.show-grid-view li .thumbnail {
    display: block;
}

body.show-grid-view li.no-artwork .thumbnail {
    font-size: initial;
    display: table-cell;
    vertical-align: middle;
    font-size: 0.7rem;
    text-align: center;
    text-transform: capitalize;
}

body.show-grid-view li.no-artwork:hover .thumbnail {
    background-color: #f50;
    /*    color: #000;*/
}

body.show-grid-view li:hover .thumbnail {
    background-blend-mode: screen;
}

body.show-grid-view li:nth-child(6n+0) {
    margin-right: 0;
}

body.show-grid-view li:nth-child(n+7) {
    margin-top: 10px;
}

body.show-grid-view li:not(:first-child) {
    padding-top: 0;
}

body * {
    font-family: inherit;
}

main {
    min-height: inherit;
    width: 670px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px 10px;
    background-blend-mode: overlay;
    background-size: cover;
    background-color: whitesmoke;
    box-shadow: 0 0 15px gray;
}

section + section {
    padding-top: 10px;
}

section.with-pagination .pagination {
    display: block;
}

.icon {
    font-style: normal;
    text-transform: uppercase;
    cursor: pointer;
}

.icon:not(button):not(span):not(i) {
    display: inline-block;
}

.clear-button {
    background-color: transparent;
    border-width: 0;
}

.toggle-grid-view {
    outline: 0;
    margin-top: 10px;
    font-size: 0.8em;
    color: darkgray;
}

.toggle-grid-view:hover {
    color: #666;
}

.player {
    margin-top: 10px;
    height: 166px;
}

.overlay {
    display: none;
    position: absolute;
    width: 100%;
    min-height: inherit;
    background-color: whitesmoke;
    z-index: 9;
    top: 0;
}


/* roll our own */

.loader.global-loader {
    z-index: 99;
}

.loader.global-loader,
.loader.player-loader {
    display: none;
    margin: auto;
    position: absolute;
    top: calc(50% - 5em);
    left: calc(50% - 5em);
}

iframe {
    display: block;
    width: 100%;
    box-shadow: 0px 0px 2px #ccc;
    border-radius: 4px;
}

input[type=text] {
    font-size: 1rem;
    width: 100%;
    padding: 10px;
    border: 1px solid #f50;
    border-style: groove;
    border-radius: 4px;
}

::-webkit-input-placeholder {
    font-style: italic;
    text-transform: capitalize;
}

ul:not(:empty) {
    margin-top: 10px;
}

ul:not(:empty):not(.no-results) {
    padding-left: 20px;
}

li .thumbnail {
    display: none;
    background-color: darkslateblue;
    /*    background-color: #f50;*/
    color: #fff;
    background-size: cover;
    height: inherit;
    width: inherit;
}

li:not(.no-results) {
    text-decoration: underline;
    cursor: pointer;
}

li:not(.no-results).no-artwork {
    text-decoration: none;
}

li:not(:first-child) {
    padding-top: 10px;
}

li:hover {
    color: #f50;
}

.selected .thumbnail {
    background-blend-mode: screen;
}

.selected.no-artwork .thumbnail {
    background-color: #f50;
    box-shadow: inset 0 0 30px #fff;
}

.selected {
    color: #f50;
}

.visited {
    font-weight: 600;
}

.no-results {
    padding-left: 0;
    list-style-type: none;
}

.no-results li {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

.pagination {
    display: none;
    margin-top: 10px;
    border-top: 1px solid #f50;
}

.pagination i {
    cursor: pointer;
    font-style: normal;
    line-height: 2.5rem;
    font-size: 1.5rem;
    /*    text-shadow: 0px 1px 0px #f50;*/
    color: darkgray;
    text-transform: uppercase;
}

.pagination i:hover {
    color: #666;
}

.prev {
    float: left;
}

.next {
    float: right;
}


/* reference: http://projects.lukehaas.me/css-loaders/ ;) */

.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 85, 0, 0.2);
    border-right: 1.1em solid rgba(255, 85, 0, 0.2);
    border-bottom: 1.1em solid rgba(255, 85, 0, 0.2);
    border-left: 1.1em solid #ff5500;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}